*.log
*.pot
*.pyc
__pycache__
db.sqlite3git update-index --assume-unchanged projectname/settings.py
media


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

fastparcel-ece8d-firebase-adminsdk-g7lnk-4d560c928f.json

settings.py